<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895480304477-nffnd0b5fjjrhpibdki5g0cl55og1unu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895480304477-3a6trfttflrjggtrlf06nuo6qictpiii</string>
	<key>API_KEY</key>
	<string>AIzaSyBqn6Ff243YzbxjsVS3UZ0eGfADxM1DJeY</string>
	<key>GCM_SENDER_ID</key>
	<string>895480304477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woogie.Memoir-Mate</string>
	<key>PROJECT_ID</key>
	<string>memoir-mate-8cf5e</string>
	<key>STORAGE_BUCKET</key>
	<string>memoir-mate-8cf5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:895480304477:ios:0633e622a37811fb660eb4</string>
</dict>
</plist>
